*{
    margin: 0;
    padding: 0;
}
.main {

    width: 100%;
    background:linear-gradient(to top, rgb(0,0,0,0.5)50%,rgb(0,0,0,0.5)50%), url(pexels-screenpost-17632052.jpg);
    background-position:center;
    background-size: cover;
    height: 109vh;
   

}
.navbar{
    width:1200px ;
    height: 75px;
    margin:auto ;
    
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color:orangered;
    font: 35px;
    font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  float:left;
  padding-top: 20px;
    
}
.menu{
    width: 400px;

    float:right;
    height: 70px;
    
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
ul li{
    list-style: none;
  margin-left: 72px;
    margin-top: 72px;
    font-size: 14px;
    
}
ul li a{

text-decoration: none;
color:yellow;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
transition: 0.4s ease-in-out;
cursor:cell;
text-align: left;


}
ul li a:hover{
    color:orangered
    
    
}
.content1{
    margin: 100px 200px;

    color:yellow;
}
.cars{
    border-radius: 50%;
    margin-left: 40px;
    margin-right: 50px;
    margin-top: 1px;
    border: 3px solid yellow;

}
.content2{
    color: aliceblue;
    text-align: center;
}
.footer{
    color:yellow
    
    
}
.footer{
    background-color: black;
    text-align: center;
}
.footer a{
    text-decoration: none;
    float: left;
    margin-left: 50px;
    background-color: black;
    margin-bottom: 50px 50px;
   
}
h3 {
    font-size: x-large;
    color:red;
.icon{
  margin-top: 200px;
}